
footer{
    background-color: #505573;
}
footer .wrapper{
    padding: 4rem 15rem ;
    font-size: 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
footer p {
    font-family: 'Arial', sans-serif;
    color: #C1C2C6;
}
footer p a{
    text-decoration: none;
    color: #FEFEFE;
}
.icon i{
    padding: 0 1rem;
    font-size: 2.5rem;
    color: #fff;
    cursor: pointer;
}