.button{
    display: flex;
    justify-content: center;

    
}
.hover-button {
    background-color: #7cbc97; /* Màu nền ban đầu */
    color: white; /* Màu chữ ban đầu */
    padding: 10px 20px;
    border: none;
    border-radius: 500px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s; /* Tạo hiệu ứng chuyển đổi mượt mà */
    height: 50px;
}
.hover-button:hover {
    background-color: rgb(58, 40, 88); /* Màu nền khi trỏ chuột vào */
}   
.first-line{
    display: flex;
    height: 335px;

}
.left {
    overflow: hidden; /* Ẩn phần ảnh vượt ra khỏi khung chứa */
    width: 926px; /* Đặt kích thước cho khung chứa */
    height: 335px; /* Đặt kích thước cho khung chứa */
    position: relative; /* Đảm bảo khung chứa có vị trí tương đối */
}

.left img {
    width: 100%; /* Đặt chiều rộng ảnh bằng chiều rộng khung chứa */
    height: 100%; /* Đặt chiều cao ảnh bằng chiều cao khung chứa */
    transition: transform 0.3s ease; /* Thêm hiệu ứng chuyển tiếp */
}

.left:hover img {
    transform: scale(1.2); /* Phóng to ảnh khi hover */
}
.right {
    overflow: hidden; /* Ẩn phần ảnh vượt ra khỏi khung chứa */
    width: 926px; /* Đặt kích thước cho khung chứa */
    height: 335px; /* Đặt kích thước cho khung chứa */
    position: relative; /* Đảm bảo khung chứa có vị trí tương đối */
}

.right img {
    width: 100%; /* Đặt chiều rộng ảnh bằng chiều rộng khung chứa */
    height: 100%; /* Đặt chiều cao ảnh bằng chiều cao khung chứa */
    transition: transform 0.3s ease; /* Thêm hiệu ứng chuyển tiếp */
}

.right:hover img {
    transform: scale(1.2); /* Phóng to ảnh khi hover */
}
.partner{
    width: 100%;
    height: auto;
    padding: 30px 360px 30px 360px;
}
.first{
    display: flex;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}
.left-partner{
   width: 50%;
   margin-right: 30px;
}
.btn{
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    display: flex;

}
.logo-partner{
    justify-content: center;
    align-items: center;
    display: flex;
}

