main .comment{
    padding: 4rem 17rem;
    color: #F6F6F6;
}
main .comment img{
    text-align: center;
    display: block;
    margin: 0 auto;
}
main .comment p{
    font-size: 2.2rem;
    line-height: 4.2rem;
    text-align: center;
    font-weight: 500;
    color: #363030;
}
main .comment .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
main .comment .btn{
    padding: 1.5rem 1.5rem;
    background-color: #7CBC97;
    font-size: 1.8rem;
    border-radius: 3rem;
    text-align: center;
    cursor: pointer;
    /* box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); */
}
main .comment .btn:hover{
    transform: translateY(-3px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
    animation: pulse 0.5s infinite;
}
@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    }
    50% {
        transform: scale(0.95);
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    }
    100% {
        transform: scale(1);
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    }
}


/* top */

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

main >.content_rec{
    padding-top: 8.8rem;
    padding-bottom: 8rem;
    padding-left: 30rem;
    padding-right: 30rem;
    width: 100%;
    height: 100%;
    align-items: center;
    align-content: center;
    text-align: center;
    
}

main >.content_rec *{
    text-align: center;
    margin-bottom: 2rem;
}

.list__img {
    padding: 0;
    text-align: center; /* Đảm bảo hình ảnh được căn giữa */
}

.list__img img {
    margin: 0 auto; /* Đưa hình ảnh vào giữa theo chiều ngang */
    display: block; /* Đảm bảo hình ảnh là một khối (block element) */
    max-width: 100%; /* Đảm bảo hình ảnh không vượt quá chiều rộng của phần tử cha */
    height: auto;
}

main>.content_rec>.top{
    width: 100%;
    height: 35%;
    justify-content: center;
    align-items: center;
    align-content: center;
    
    flex-direction: column; /* Sắp xếp các phần tử con theo chiều dọc */
    justify-content: center; /* Căn giữa theo trục dọc */
    align-items: center; /* Căn giữa theo trục ngang */
    text-align: center;
    
}

main>.content_rec>.top>.top_chil {
    width: 100%;
    height: 35%;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    margin: 0 auto;
     /* Căn giữa nội dung ngang trên màn hình */
}

/* Định nghĩa chung cho h1 trong cả top và bot */
.top_chil h1,
.bot_chil h1 {
    color: #464242;
    font-size: 3.2rem;
    font-weight: 500;
    text-align: center; /* Căn giữa văn bản */
}

.fas.fa-paw{
    font-size: 6rem;
    display: block;
    color: #505573;
}


main>.content_rec>.top>.top_chil p{
    color: #6d6868;
    font-size: 1.7rem;
    font-weight: 400;
    text-align: center;
}


/* bot */
main>.content_rec>.bot{
    width: 100%;
    height: 65%;
     /* Căn giữa theo trục ngang */
    text-align: center;
    margin: 5rem auto;
    display: flex;
}

main>.content_rec>.bot>.bot_chil{
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    margin: 0 auto;
}

.bot_chil h1::after {
    content: '';
    display: block;
    width: 10%; /* Độ dài của đường kẻ là 30% */
    height: 1.5px; /* Chiều cao của đường kẻ */
    background-color: #858181; /* Màu của đường kẻ */
    margin: 5rem auto; /* Căn giữa và thêm khoảng cách trên và dưới */
}



.bot_chil ul {
    list-style-type: none; /* Ẩn dấu chấm tròn */
    padding: 0; /* Xóa khoảng cách giữa các phần tử */
    margin: 3rem; /* Xóa khoảng cách giữa các phần tử */
}

.bot_chil ul li {
    margin-bottom: 1rem; /* Khoảng cách giữa các mục */
    justify-content: center;
    color: #837f7f;
    font-size: 1.7rem;
    font-family: "Quicksand", sans-serif;
}